// 标准字体大小
@FontSizeMedium: 16px;

@ButtonBackgroundColorPrimary: #2c2f47;
@ButtonBackgroundColorDanger: #f56c6c;
.cui-button {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  // font-size: @FontSizeMedium;
  font-size: var(--cui-font-size-medium);
}

.default {
  background-color: transparent;
  color: #2c2f47;
  border: 1px solid @ButtonBackgroundColorPrimary;
}
.default:hover {
  background-color: rgba(44, 47, 71, 0.3);
  border: 1px solid transparent;
}
.primary {
  background-color: @ButtonBackgroundColorPrimary;
}
.danger {
  background-color: @ButtonBackgroundColorDanger;
}
