:root {
  /* 主题色 */
  --cui-primary-color      : #1AAA5D;
  --cui-primary-bg-color   : #1AAA5D15;
  --cui-primary-color-hover: #1AAA5D15;

  /* 主题字体 */
  --cui-primary-font-color      : #364245;
  --cui-primary-font-color-hover: #1AAA5D;


  /* 阴影 */
  --cui-primary-shadow-color: 0px 3px 12px 0px #00000012;

}


@media (prefers-color-scheme: dark) {
  :root {
    /* 主题色 */
    --cui-primary-color      : #1976D2;
    --cui-primary-bg-color   : #1976D215;
    --cui-primary-color-hover: #1976D215;

    /* 主题字体 */
    --cui-primary-font-color      : #FFFFFF;
    --cui-primary-font-color-hover: #1976D2;


    /* 阴影 */
    --cui-primary-shadow-color: 0px 3px 12px 0px #00000012;
  }
}
